body {
  background-image: url("https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7728.jpg?ga=GA1.1.77164772.1762696781&semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#cluster-map {
    width: 100%;
    height: 200px;
    margin-bottom: 2%;

}

#map {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}
